<style type="text/css">
*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #f7f7f7;
	font-family: "tahoma";
	font-size: 14px;
}
#main{
	width: 97%;
    border: 1px solid white;
    border-radius: 20px;
    margin: 10px auto;
    background-image: url("../imgs/login/bg.jpg");
    background-size: 100% 100%;
    text-align: center;
}
#form{
	position: relative;
    margin: 200px auto;
    width: 420px;
    height: 450px;
}
#form_head{
	height: 100px;
}
#main_name_login{
	display: block;
}
#main_tel_login{
	display: none;
}
.head_button{
	background-color: rgba(1,1,1,0);
    width: 100px;
    height: 60px;
    color: white;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid white;
    margin: 10px 20px;
    line-height: 80px;
    outline:none;
    cursor: pointer;
}
.hid_line{
	border-bottom: 1px solid rgba(1,1,1,0);
	color: #c4c4c5;
}
.main_text{
	background-color: rgba(1,1,1,0);
	border: none;
	border: 1px solid white;
	color: white;
	font-size: 16px;
	padding: 10px;
    width: 400px;
    height: 25px;
    margin: 15px 0;
    border-radius: 4px;
}
.text_ok{
	border: 1px solid #67c23a;
}
.text_error{
	border: 1px solid red;
}
/*输入框的placeholder颜色*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
	color: white; 
} 
.graphic_text{
	width: 280px;
	position: relative;
	left: 0px;
	top: -10px;
}
#graphic_code,#graphic_code_i{
	width: 110px;
    height: 60px;
    display: inline-block;
    position: relative;
    line-height: 60px;
    top: 15px;
}
#forget_password{
	text-decoration: none;
	color: white;
	font-size: 14px;
	position: absolute;
	right: 15px;
	margin-top: 15px;
	cursor: pointer;
}
#login,#login_i{
	width: 420px;
	height: 40px;
	border: none;
	border-radius: 6px;
	margin: 30px 0;
	background-color: rgba(172,65,235,0.8);
	color: white;
	font-size: 16px;
	cursor: pointer;
}
#login:hover,#login_i:hover{
	background-color: rgb(172,65,235);
}
#user_hid,#password_hid,#code_hid,#tel_hid,#code_hid_i,#tel_code_hid{
	display: none;
	color: red;
	font-size: 14px;
	position: absolute;
	right: 10px;
}
#code_hid_i{
	right: 125px;
    top: 215px;
}
#tel_code_hid{
	right: 125px;
    top: 308px;
}
.off{
	cursor: pointer;
	height: 50px;
    border: none;
    border: 1px solid white;
    background-color: rgba(1,1,1,0);
    width: 112px;
    position: relative;
    top: -9px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    outline: none;
}
.on {
	cursor: not-allowed;
}
#user_hid,#tel_hid{
	top: 130px;
}
#password_hid{
	top: 210px;
}
#code_hid{
	top: 293px;
	right: 130px;
}
#register{
	text-decoration: none;
	color: white;
	font-size: 16px;
	position: relative;
    top: -5px;
    cursor: pointer;
}
