#main{
	width: 97%;
    border: 1px solid white;
    border-radius: 20px;
    margin: 10px auto;
    background-image: url("../imgs/login/bg.jpg");
    background-size: 100% 100%;
    text-align: center;
}
#form{
	position: relative;
    margin: 250px auto 150px;
    width: 420px;
    height: 450px;
}
#register_button{
	background-color: rgba(1,1,1,0);
    width: 90px;
    height: 60px;
    color: white;
    font-size: 18px;
    border: none;
    margin: 10px 20px;
    line-height: 80px;
    outline:none;
    cursor: pointer;
}
.main_text{
	background-color: rgba(1,1,1,0);
	border: none;
	border: 1px solid white;
	color: white;
	font-size: 16px;
	padding: 10px;
    width: 400px;
    height: 25px;
    margin: 10px 0;
    border-radius: 4px;
}
.graphic_text{
	width: 280px;
	position: relative;
	left: 0px;
	top: -10px;
}
#graphic_code{
	width: 110px;
    height: 60px;
    display: inline-block;
    position: relative;
    line-height: 60px;
    top: 15px;
}
#get_tel_code{
	height: 50px;
    border: none;
    border: 1px solid white;
    background-color: rgba(1,1,1,0);
    width: 112px;
    position: relative;
    top: -9px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}
.text_error{
	border: 1px solid red;
}
.text_ok{
	border: 1px solid #67c23a;
}
.on {
 pointer-events: none;
 cursor: not-allowed;
}
/*输入框的placeholder颜色*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
	color: white; 
} 
#tel_hid,#code_hid,#tel_code_hid,#password_hid,#password_re_hid,#password_re_hid_i,#password_hid_i{
	display: none;
	color: red;
	font-size: 14px;
	position: absolute;
	right: 10px;
}
#tel_hid{
	top: 105px;
}
#code_hid{
	top: 184px;
    right: 130px;
}
#tel_code_hid{
	top: 250px;
    right: 130px;
}
#password_hid{
	top: 327px;
}
#password_hid_i{
	top: 327px;
}
#password_re_hid{
	top: 395px;
}
#password_re_hid_i{
	top: 395px;
}
#register{
	width: 420px;
	height: 40px;
	border: none;
	border-radius: 6px;
	margin: 30px 0;
	background-color: rgba(172,65,235,0.8);
	color: white;
	font-size: 16px;
	cursor: pointer;
}
#register:hover{
	background-color: rgb(172,65,235);
}
#login{
	text-decoration: none;
	color: white;
	font-size: 16px;
	position: relative;
    top: -5px;
    cursor: pointer;
}